@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rationale&display=swap');
h1{
    color: #e39316;
}
#YvettePhoto{
    float: right;
    max-width:30%;
}
header, nav, main, footer{
    margin: 1.25rem auto;
    max-width: 800px;
}