@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rationale&display=swap');

header {
    background-color: black;
    color: #e39316;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-family: "Pacifico", "Brush Script MT", fantasy;
}

#YvettePhoto {
    display: flex;
    float: right;
    width: 15%;
    max-width: 15%;
    margin-top: 0.25em;
    margin-right: 0.24em;
    border: solid 0.5em #e39316;
}

h3 {
    border-bottom: solid;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}
main {
    margin:0 auto;
}

header,
nav,
main,
footer {
    align-content: center;
    max-width: 800px;
}

nav,
footer {
    font-family: "Rationale", "Papyrus", sans-serif;
    text-align: center;
}

nav {
    text-decoration: none;
    margin: 0 auto;
}

footer {
    background-color: black;
    color: #e39316;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    padding: 1em;
}

footer a:hover {
    background-color: #00afb5;
    color:#000000;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}