@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

body{
    background-color:#cfd8e6;
}
header {
    background-color:#9ae6c2;
    color:#734B5E;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-family: "Pacifico", "Brush Script MT", fantasy;
}

#YvettePhoto {
    display: flex;
    float: right;
    width: 15%;
    max-width: 15%;
    margin-top: 0.25em;
    margin-right: 0.24em;
    border: solid 0.5em #734B5E;
}

h1{
    text-align: center;
}

h3 {
    border-bottom: solid  #734B5E;
    padding: 2px;
    margin: 0 auto;
    text-align: left;
}
main {
    margin:0 auto;
}

header,
nav,
main,
footer {
    align-content:center;
    max-width: 600px;
}

li {
    font-family: "El Messiri", "Papyrus", sans-serif;
}

nav {
    text-decoration: none;
}

nav a:hover{
    background-color:#734B5E;
    color:#9ae6c2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
footer {
    background-color:#9ae6c2;
    color:#734B5E;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    align-content: center;
    padding: 1em;
}

footer a:hover {
    background-color:#734B5E;
    color:#9ae6c2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
} 