/*computer viewport*/
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: none;
        width: 77.3em;
    }
    
	header, footer{
        max-width: none;
		width: 60em;
    }

    section image{
        max-width: 84%;
        padding: 0em 1.30em 0em 1.30em;
    }
    
}