@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

body {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    margin: 0;
    padding: 0;
}

/*phone view*/
main {
    max-width: 767px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    grid-gap: 0.8em;
    padding: 0.8em;
}

section{
    display: block;
    background-color:#9ae6c2;
    border-radius: 2.5px;
}
section img{
    max-width: 90%;
    padding-left: 1.30em;
}
section p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: left;
    padding-left: 1.30em;
    padding-right: 1.30em;

}


/*computer view*/
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }
}

header {
    background-color: #734B5E;
    color: #9ae6c2;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-family: "Pacifico", "Brush Script MT", fantasy;
}

#YvettePhoto {
    display: flex;
    float: right;
    width: 20%;
    max-width: 20%;
    margin-top: 0.25em;
    margin-right: 0.24em;
    border: solid 0.5em #000000;
}

h3 {
    margin-top:0px;
    padding-left: 1.30em;
    border-bottom: solid;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: "El Messiri", "Papyrus", sans-serif;
}

h2 {
    border-bottom: solid #734B5E;
    padding: 2px;
    margin: 0 auto;
    text-align: center;
}

#copyright {
    color: white;
}

#modified {
    color: #9ae6c2;
    font-size: 15px;
}

main {
    margin: 0 auto;
}

header,
nav,
main,
footer {
    align-content: center;
    max-width: 600px;
}

li {
    font-family: "El Messiri", "Papyrus", sans-serif;
}

nav {
    text-decoration: none;
}

nav a:hover {
    background-color: #734B5E;
    color: #9ae6c2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

footer {
    background-color: #734B5E;
    color: #9ae6c2;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    align-content: center;
    padding: 1em;
}

main.div {
    column-count: 3;
}

#byui {
    color: #9ae6c2;
}

a {
    color: #008080;
}

footer a:hover {
    background-color: #734B5E;
    color: #9ae6c2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}