/*computer viewport*/
@media only screen and (min-width: 60em) {

    header {
        max-width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    nav ul {
        display:flex;
    }

    nav li:hover{
        background-color: #B39C4D;
        color: black;
    }
    
    nav ul li { 
		flex: 1 1 100%; 
	}
    
    /*home*/

    article{
		grid-template-columns: 1fr 4fr;
		grid-gap: 30px;
		padding:30px;
	}

	article div{
		align-self: end;
	}

	section>div{
		grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: auto;
	}

	section>div>div{
        display: block;
        flex-wrap: wrap;
	}

	section>div>div>div{
		width:100%;
    }

    
    

}