/*phone viewport*/


body {
    background-color: #F9F8F2 ; 
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "El Messiri", "Papyrus", sans-serif;
}


#banner{
    color:#1E2F23;
    background:radial-gradient(#F9F8F2 , #B39C4D , #B39C4D);
    text-align: center;
    font-size: 1em;
	margin: 0;
    padding: 0.25em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #482728;
    color: #9ae6c2;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-family: "El Messiri", "Papyrus", sans-serif;
    font-size: 0.8em;
}

header img{
    width: 50%;
}

header picture.weatherlogo{
    float:left;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "El Messiri", "Papyrus", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    color:#1E2F23 ;
    text-align: left;
}

h3 {
    margin: 1em;
}

#copyright {
    color: white;
}

#modified {
    color: #9ae6c2;
    font-size: 15px;
}

header,
nav,
main,
footer {
    align-content: center;
}

li {
    font-family: "El Messiri", "Papyrus", sans-serif;
}

nav button{
    font-size: 1.6rem;
    color:white;
}

.navigation{
    list-style:none;
    padding:0;
}

.navigation li:first-child{
    display: block;
    padding: 0.5em;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E2F23;
}
nav ul li{
    display: block;
	color: white;
    font-size: 1.25rem;
    padding: 0.5em;
}

footer {
    background-color: #482728;
    color: #9ae6c2;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    align-content: center;
    padding-bottom: 1em;
}

footer p{
    padding-top: 0.75em;
}

main.div {
    column-count: 3;
}

#byui {
    color: #9ae6c2;
}

nav a {
    color: white;
    text-decoration: none;
}

.contactinfo{
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contactmethods{
    max-width: 60%;
}

.contactmethods img{
    max-width: 31px;
}

footer a:hover {
    background-color: #734B5E;
    color: #9ae6c2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

/*home*/
article{
	grid-template-columns: 1fr;
	grid-gap: 5px;
	padding: 20px;
}

article picture{
    width: 80%;
}


article div{
	background-color: white;
}

section> div{
    display: grid;
    grid-gap:15px;
}

section>div div{
    background-color: white;
    
}

section div.towns{
    justify-content: center;
    text-align: center;
}


div.container h2{
    text-align: center;
}


