@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

body{
    font-family: "El Messiri", "sans-serif";
    background-color: aliceblue;
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 350px;
}

main img {
    border:2px solid #000000;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
}

img[data-src] {
    filter: blur(0.2em);
}

