/*tablet viewport*/
@media only screen and (min-width: 38em) {
    main {
      grid-template-columns: 1fr 1fr;
    }
    
    header,
    footer {
      max-width: 100%;
    }
  
    header{
      font-size: 1.25rem;
    }

    header img{
      width: 90%;
    }
    
    section image {
      max-width: 84%;
      padding: 0em 1.30em 0em 1.30em;
    }
    
    h1 {
      font-size: 50px;
    }
  
    .ham{
      display: none;
    }

    nav ul {
      display:flex;
    }
  
    nav ul li { 
          flex: 1 1 100%; 
      }
  
    nav li:hover{
      background-color: #B39C4D;
      color: black;
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

  }