/*tablet viewport*/
@media only screen and (min-width: 38em) {
    main {
      grid-template-columns: 1fr 1fr;
    }
    
    header {
      max-width: 100%;
    }
  
    header{
      font-size: 1.25rem;
    }

    header img{
      width: 90%;
    }
    
    section image {
      max-width: 84%;
      padding: 0em 1.30em 0em 1.30em;
    }
    
    h1 {
      font-size: 50px;
    }
    
    nav {
      width:100%;
    }
    
    .navigation {
      display: flex;
    }

    .navigation li {
      display: block; 
      flex: 1 1 100%;
    }

    .navigation li:first-child{
      display: none;
    }

    nav ul li { 
      float:left;
      flex: 1 1 100%; 
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    main, footer{
      width:75%;
  }

  }