/*phone viewport*/
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');


body {
    background-color: #F9F8F2 ; 
    margin: 0;
    padding: 0;
    text-align: center;
}

/*phone view*/
main {
    margin: auto;
    display: block;
    grid-template-columns: 1fr;
    font-size: 1rem;
    grid-gap: 0.8em;
    padding: 0.8em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #482728;
    color: #9ae6c2;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-family: "Pacifico", "Brush Script MT", fantasy;
    font-size: 0.8em;
}

header img{
    width: 50%;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "El Messiri", "Papyrus", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

#h1p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

section{
    text-align: left;
    display: block;
    border-radius: 2.5px;
}
.headings{
    display: flex;
    flex-direction: column;
}

section img{
    max-width: 90%;
    padding-left: 1.30em;
}
section p{
    display: block;
    text-align: left;
    padding-left: 1.30em;
    padding-right: 1.30em;

}

h3 {
    background-color: #9ae6c2;
    text-align: left;
    margin-top:0px;
    padding:0.70em;
    padding-left: 1.30em;
    border-bottom: solid;
}

h4 {
    padding-left: 1.30em;
}

h2 {
    color:#1E2F23 ;
    border-bottom: solid #734B5E;
    padding: 2px;
    margin: 0 auto;
    text-align: center;
}

#copyright {
    color: white;
}

#modified {
    color: #9ae6c2;
    font-size: 15px;
}

header,
nav,
main,
footer {
    align-content: center;
}

li {
    font-family: "El Messiri", "Papyrus", sans-serif;
}

nav button{
    font-size: 1.6rem;
    color:white;
}

.navigation{
    list-style:none;
    padding:0;
}

.navigation li:first-child{
    display: block;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E2F23;
}
nav ul li{
    display: block;
	color: white;
	font-size: 1.25rem;
}

footer {
    background-color: #482728;
    color: #9ae6c2;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    align-content: center;
    padding: 1em;
}

main.div {
    column-count: 3;
}

#byui {
    color: #9ae6c2;
}

nav a {
    color: white;
    text-decoration: none;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    background-color: white;
	color: #444444;
	font-style: italic;
}

footer a:hover {
    background-color: #734B5E;
    color: #9ae6c2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}