@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root{
    --row1: #e7f0ed;
    --row2: #e7ffed;
    --font: "Ubuntu", sans-serif;
}

caption{
    font-size: 3em;
    font-weight: bold;
    padding: 1em 1em 1em 1em;
    background-color: #7fb9c2;
}

table{
    background-color: #628ca6;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}
  
table th{
    font-size: 2em;
    font-weight: bolder;
    padding: 0.50em 0.50em 0.50em 0.50em;
}
  
table,
  th,
  td{
    border: 1px solid lightgray;
}

body{
    font-family: var(--font);
    width: 1000px;
    margin: 0 auto;
}

tbody{
    background-color:var(--row2);
}

tbody tr:nth-child(even){
    background-color:var(--row1);
}

tbody tr:nth-child(1){
    font-size: 1em;
}

tfoot td{
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
}

#NovSalesGoal{
    background-color:#628ca6;
    color: white;
}

table td{
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
}

thead td{
    color: white;
    font-weight: bold;
}

/*
thead{
    font-family: Ubuntu, sans-serif;
    background-color:#628ca6;
    background-color:#e7ffed;
}

tbody{
    font-family: Ubuntu, sans-serif;
    background-color: #e7f0ed;
    background-color:#628ca6;
}

tfoot{
    font-family: Ubuntu, sans-serif;
    background-color:#7fb9c2;
}

*/