@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root{
  --row1: #e7f0ed;
  --row2: #e7ffed;
}

table{
    background-color: #7fb9c2;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}
  
table th{
    font-size: 2em;
    font-weight: bolder;
    padding: 0.50em 0.50em 0.50em 0.50em;
}
  
table,
  th,
  td{
    border: 1px solid lightgray;
}

body{
  max-width: 900px;
  margin: 0 auto;
}

tbody{
  background: #e7ffed;
}

tbody tr:nth-child(even){
  background: #e7f0ed;
}

tbody tr:nth-child(1){
  background: #628ca6;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

tfoot td{
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
}

#NovSalesGoal{
    background-color:#628ca6;
    color: white;
}

table td{
    padding: 0.5em 0.5em 0.5em 0.5em;
}

/*
thead{
    font-family: Ubuntu, sans-serif;
    background-color:#628ca6;
    background-color:#e7ffed;
}

tbody{
    font-family: Ubuntu, sans-serif;
    background-color: #e7f0ed;
    background-color:#628ca6;
}

tfoot{
    font-family: Ubuntu, sans-serif;
    background-color:#7fb9c2;
}

*/